body{
    background-color: whitesmoke
}

.grid-container{
    display: grid;
    grid-auto-columns: repeat(autofill, minmax(300px,1fr));
    grid-auto-rows: 30px;


}
.item{
    font: normal;
}